/target
/ws_game/dist

grid_finder/grids/*.txt
grid_finder/data/*.txt
grid_finder/done/*.txt
grid_finder/clusters/*.txt
grid_finder/master/*.txt
grid_finder/todo/*.txt

sheet_reader/sheet_reader_data/*.txt
sheet1.txt

layout_example.svg
saves/bevy_pkv.redb

## Node
node_modules
package-lock.json
package.json
ws_game/saves/bevy_pkv.redb
