/target
/ws_game/dist

grid_finder/grids/*.txt
grid_finder/data/*.txt
grid_finder/done/*.txt
grid_finder/clusters/*.txt
grid_finder/master/*.txt
grid_finder/todo/*.txt

sheet_reader/data/*.txt
sheet_reader_data/*
sheet1.txt

layout_example.svg
