/target
/ws_web/dist
/ws_mobile/dist
/ws_web_minimal/dist

grid_finder/grids/*.txt
grid_finder/grids copy/*.txt
grid_finder/data/*.txt
grid_finder/done/*.txt
grid_finder/clusters/*.txt
grid_finder/master/*.txt
grid_finder/data todo/*.txt

sheet_reader/**/*.txt
sheet1.txt

layout_example.svg
saves/bevy_pkv.redb

## Node
ws_web/node_modules
ws_web/package-lock.json

ws_mobile/node_modules
ws_mobile/package-lock.json


## Images
netlify/functions/image/*.png
achievement_icons/*.png
PromoImages/*/*.jpeg
PromoImages/*/*.png
icon/logo.png
icon/logo512.png
PromoImages/FeatureGraphic1.png


## Android stuff
ws_mobile/android/app/credentials.gradle
ws_mobile/android/capacitor.settings.gradle
ws_mobile/android/.idea/misc.xml
ws_mobile/android/app/capacitor.build.gradle

## Recording
out/*.png
*.mp4
